{% extends 'base.html.twig' %}

{% block title %}Список лам{% endblock %}

{% block body %}
    <h1>Список лам</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Номер</th>
                <th>Имя</th>
                <th>Высота</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
        {% for llama in llamas %}
            <tr>
                <td>{{ llama.id }}</td>
                <td>{{ llama.name }}</td>
                <td>{{ llama.height }}</td>
                <td>
                    <a href="{{ path('llama_show', {'id': llama.id}) }}">Показать</a>
                    <a href="{{ path('llama_edit', {'id': llama.id}) }}">Редактировать</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Не найдено записей</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('llama_new') }}">Создать ламу</a>
{% endblock %}
