{% extends 'base.html.twig' %}

{% block title %}Llama index{% endblock %}

{% block body %}
    <h1>Llama index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Height</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for llama in llamas %}
            <tr>
                <td>{{ llama.id }}</td>
                <td>{{ llama.name }}</td>
                <td>{{ llama.height }}</td>
                <td>
                    <a href="{{ path('llama_show', {'id': llama.id}) }}">show</a>
                    <a href="{{ path('llama_edit', {'id': llama.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('llama_new') }}">Create new</a>
{% endblock %}
